.hidden {
  display: none !important;
}

.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.column-one-tenth {
  width: 10%;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

@media only screen and (min-width: 1279px) {
  .title {
    position: relative;
    left: 3rem;
    bottom: 1rem;
    top: 2px;
    color: white;
    font-family: Baskervville, serif;
    font-size: 25px;
    font-weight: 200;
    margin-left: 1rem;
  }

  .info-photo {
    object-fit: fill;
    height: 350px;
    width: 290px;
    border-radius: 5px;
    margin-left: 3rem;
  }

  .center-img {
    height: 15vh;
    text-align: center;
    width: 100%;
    margin-top: 1.5rem;
  }

  .character-detail-styling {
    font-family:
      Baskerville,
      sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 2rem;
    margin-top: 1rem;
    text-align: center;
    margin-left: 3rem;
  }

  .character-details {
    flex-basis: 100%;
    font-size: 10px;
    margin-top: 2.5rem;
  }

  .back {
    color: rgb(145, 136, 136);
    text-decoration: underline;
    font-size: 22px;
  }

  .character-info-name {
    font-family: Baskerville, sans-serif;
    font-weight: 600;
    margin: auto;
    font-size: 30px;
    padding-left: 3rem;
  }

  .fa-solid {
    position: relative;
    left: 9rem;
    color: white;
    bottom: 21.3rem;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-regular {
    cursor: pointer;
    position: relative;
    left: 9rem;
    color: white;
    bottom: 21.3rem;
    font-size: 1.8rem;
  }

  .favorites-header {
    font-family: Baskerville, sans-serif;
    color: rgb(137, 127, 127);
    font-size: 2.5rem;
    text-align: center;
  }

  .no-favorites-page {
    font-family: Baskerville, sans-serif;
    color: rgb(137, 127, 127);
    text-align: center;
    margin-top: 8rem;
    font-size: 2rem;
  }

  .fa-trash-o {
    position: relative;
    left: 2.6rem;
    font-size: 24px;
    bottom: 15.3rem;
    color: white;
  }
}

@media only screen and (max-width: 1280px) {
  i.fa-magnifying-glass {
    color: rgb(175, 172, 172);
    position: relative;
    top: 13px;
    right: 1.6rem;
    font-size: 1rem;
  }

  .title {
    position: relative;
    left: 2rem;
    color: white;
    font-family: Baskervville, serif;
    font-size: 20px;
    font-weight: 200;
    margin-left: 1rem;
  }

  .center-img {
    flex-basis: 100%;
    text-align: center;
  }

  .info-photo {
    object-fit: fill;
    height: 200px;
    width: 150px;
    border-radius: 5px;
  }

  .character-details {
    flex-basis: 100%;
    font-size: 10px;
    margin-top: 2.5rem;
  }

  .character-detail-styling {
    font-family:
      Baskerville,
      sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 2rem;
    margin-top: 12px;
    text-align: center;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .fa-solid {
    cursor: pointer;
    position: relative;
    left: -1.8rem;
    bottom: 11rem;
    font-size: 20px;
    color: white;
  }

  .fa-regular {
    cursor: pointer;
    position: relative;
    left: -1.8rem;
    bottom: 11rem;
    font-size: 20px;
    color: white;
  }

  .character-info-name {
    font-family: Baskerville, sans-serif;
    font-weight: 600;
    margin-top: 10px;
    font-size: 22px;
    margin-right: 16px;
  }

  .favorites-header {
    font-family: Baskerville, sans-serif;
    color: rgb(137, 127, 127);
    font-size: 2rem;
    text-align: center;
  }

  .no-favorites-page {
    font-family: Baskerville, sans-serif;
    color: rgb(137, 127, 127);
    text-align: center;
    margin-top: 8rem;
    font-size: 20px;
  }

  .fa-trash-o {
    position: relative;
    left: 2.6rem;
    font-size: 24px;
    bottom: 15.3rem;
    color: white;
  }
}
