.hidden {
  display: none !important;
}

.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.column-one-tenth {
  width: 10%;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

@media only screen and (min-width: 575px) {
  .title {
    font-size: 26px;
    margin: auto;
    margin-top: 1rem;
  }

  .nav-logo {
    height: 20vh;
    position: relative;
    left: 1rem;
  }

  .info-photo {
    object-fit: fill;
    height: 350px;
    width: 320px;
    border-radius: 5px;
    margin-left: 3rem;
  }

  .center-img {
    height: 15vh;
    text-align: center;
    width: 100%;
    margin-top: 1.5rem;
  }

  .character-detail-styling {
    font-family:
      Baskerville,
      sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 2rem;
    margin-top: 12px;
    text-align: center;
    margin-left: 3rem;
  }

  .character-details {
    flex-basis: 100%;
    font-size: 10px;
    margin-top: 2.5rem;
  }

  .back {
    color: rgb(145, 136, 136);
    text-decoration: underline;
    font-size: 22px;
  }

  .character-info-name {
    font-family: Baskerville, sans-serif;
    font-weight: 600;
    margin: auto;
    font-size: 30px;
    padding-left: 3rem;
  }

  .heart-icon {
    position: relative;
    left: 9.5rem;
    color: white;
    bottom: 21.3rem;
    font-size: 1.8rem;
  }

  .favorites-header {
    font-family: Baskerville, sans-serif;
    color: rgb(137, 127, 127);
    font-size: 2.5rem;
    text-align: center;
  }

  .no-favorites-page {
    font-family: Baskerville, sans-serif;
    color: rgb(137, 127, 127);
    text-align: center;
    margin-top: 8rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 390px) {
  .title {
    font-size: 17px;
    position: relative;
    top: 1rem;
    right: 0;
    bottom: 0;
    left: 3rem;
  }

  .center-img {
    flex-basis: 100%;
    text-align: center;
  }

  .info-photo {
    object-fit: fill;
    height: 250px;
    width: 200px;
    border-radius: 5px;
  }

  .character-details {
    flex-basis: 100%;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
    margin-top: 1rem;
  }

  .character-detail-styling {
    font-family:
      Baskerville,
      sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 2rem;
    margin-top: 6px;
    text-align: center;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .heart-icon {
    position: relative;
    right: 1.8rem;
    bottom: 13.8rem;
    font-size: 20px;
    color: white;
  }

  .character-info-name {
    font-family: Baskerville, sans-serif;
    font-weight: 600;
    margin-top: 10px;
    font-size: 25px;
    margin-right: 16px;
  }

  .favorites-header {
    font-family: Baskerville, sans-serif;
    color: rgb(137, 127, 127);
    font-size: 2rem;
    text-align: center;
  }

  .no-favorites-page {
    font-family: Baskerville, sans-serif;
    color: rgb(137, 127, 127);
    text-align: center;
    margin-top: 8rem;
    font-size: 20px;
  }
}
