.nav-logo {
  height: 10vh;
  flex-basis: 20%;
  margin-top: 1rem;
  position: relative;
  right: 2rem;
}

.nav-title {
  height: 12vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: white;
  font-family: Baskervville, serif;
  font-size: 25px;
  font-weight: 200;
}

.nav {
  background-color: rgb(119, 112, 112);
  padding-right: 1rem;
  padding-bottom: 5px;
}

.nav-icons {
  text-align: end;
  padding-bottom: 2px;
}

.home-icon,
.favorites-icon {
  color: white;
  font-size: 1.5rem;
}

.search-box {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.search {
  background-color: rgb(217, 217, 217);
  border: none;
  height: 5vh;
  margin-top: 1.5rem;
  border-radius: 3px;
  padding: 15px;
}

.characters,
.favorites-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.photo-div {
  margin-top: 1rem;
  text-align: center;
}

.photo {
  object-fit: fill;
  height: 16rem;
  width: 12rem;
  padding: 5px;
  margin-left: 2px;
}

.character-name {
  font-family: Baskerville, sans-serif;
  font-weight: 300;
  font-size: 10px;
  display: inline;
}

.name-div {
  text-align: center;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 3rem;
}

.display-none {
  display: none;
}

.back {
  color: rgb(145, 136, 136);
  text-decoration: underline;
  margin-left: 10px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(0 0 0 / 80%);
}

.rectangle {
  background-color: rgb(217, 217, 217);
  width: 14rem;
  height: 9rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.delete-modal-text {
  text-align: center;
  font-family: Baskerville, sans-serif;
  font-weight: 300;
}

.delete,
.cancel {
  font-family: Baskerville, sans-serif;
  font-weight: 300;
  border: none;
  padding: 5px;
}

.delete {
  background-color: rgb(213, 65, 65);
}

.cancel {
  background-color: rgb(181, 176, 176);
}

.modal-buttons {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
